li {
    display: list-item;
}

::marker {
    color:rgb(25, 25, 97);
    font-size: 35px;
}

.block {
    display: flex;
    margin: 10px 40px 10px 10px;
    border-radius: 2px 2px 105px 2px;
    background: linear-gradient(0.25turn, antiquewhite, rgb(255, 208, 146));
    padding: 15px;
}

section {
    display: flex;
    flex-flow: column;
    padding: 0 0 0 20px;
}

audio {
    background-color:rgb(252, 176, 125);
    color: blue;
}